.bg{
	width: 100px;
	height: 100px;
	position: fixed;
	z-index: 1;
	float: left;
	left: 0;
}
.content{
	border: 1px;
	width: 80px;
	height: auto;
	margin-top: 10px;
	position: relative;
	z-index: 5;
	background-color: #;
	padding: 30px;
	text-align: center;
}